{% extends 'layout/basic.html' %}
{% load static %}


{% block content %}
    <!-- Main News Slider Start -->
    {% include 'include/main_news.html' %}
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->
    {% include 'include/breaking_news.html' %}
    <!-- Breaking News End -->


    <!-- Featured News Slider Start -->

    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    {% include 'include/news_with_sidebar.html' %}
    <!-- News With Sidebar End -->
{% endblock %}